<div class="row" ng-controller="IndividualController" ng-init="init()">
	<div class="col-md-4">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label>{{DepartmentName}} Daily Plan</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item">
					<div class="form-group" ng-show="__USER.department_id=='all'">
						<label>Department</label>
						<select ng-model="Department" class="form-control" ng-disabled="!Departments.length">
							<option value="">Select Department</option>
							<option ng-repeat="department in Departments" ng-value="department.id">
								{{department.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Category</label>
						<select ng-model="Category" name="" id="" class="form-control" ng-disabled="!Categories.length">
							<option value="">Select Category</option>
							<option ng-repeat="category in Categories | filter:{department_id:Department}" ng-value="category.id">
								{{category.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>KPI</label>
						<select ng-model="KPI" name="" id="" class="form-control" ng-disabled="!KPIs.length">
							<option value="">Select KPI</option>
							<option ng-repeat="kpi in KPIs | filter:{category_id:Category}" ng-value="kpi.id">
								{{kpi.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Sub Category</label>
						<select ng-model="SubCategory" name="" id="" class="form-control" ng-disabled="!SubCategories.length">
							<option value="">Select Sub Category</option>
							<option ng-repeat="subcategory in SubCategories | filter:{kpi_id:KPI}" ng-value="subcategory.id">
								{{subcategory.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Line/Machine</label>
						<select ng-model="LineMachine"  class="form-control" ng-disabled="!LineMachines.length">
							<option value="">Select Line</option>
							<option ng-repeat="line in LineMachines | filter:{subcategory_id:SubCategory}" ng-value="line.id">
								{{line.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Model</label>
						<select ng-model="Model"  class="form-control" ng-disabled="!Models.length">
							<option value="">Select Model</option>
							<option ng-repeat="model in Models | filter:{line_machine_id:LineMachine}" ng-value="model.id">
								{{model.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Manpower No</label>
						<input ng-model="ManpowerNo"  class="form-control"  type="number"/>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-8"> 
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label class="pull-left">Daily Plan</label>
				<div class="btn-group btn-group-xs pull-right">
					<button class="btn btn-default " ng-click="cancelPlan()" ng-disabled="Submitting">CANCEL</button>
					<button class="btn btn-primary " ng-click="submitPlan()" ng-disabled="Submitting">SUBMIT</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label>Day Shift</label>
								<select ng-model="ShiftDay" class="form-control">
									<option value="">Day Code</option>
									<option value="MP1">MP1</option>
									<option value="MP2">MP2</option>
									<option value="TR">TR</option>
									<option value="CO">CO</option>
								</select>
							</div>
							<div class="col-md-6">
								<label>Night Shift</label>
								<select ng-model="ShiftNight" class="form-control">
									<option value="">Night Code</option>
									<option value="MP1">MP1</option>
									<option value="MP2">MP2</option>
									<option value="TR">TR</option>
									<option value="CO">CO</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label>Date From</label>
								<input type="date" class="form-control" ng-model="DateFrom" />
							</div>
							<div class="col-md-6">
								<label>To</label>
								<input type="date" class="form-control" ng-model="DateTo"/>
							</div>
						</div>
					</div>
			
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="col-md-9">Field</th>
								<th class="col-md-3">Value</th>
							</tr>
						</thead>
						<tbody>
					
							<tr>
								<td>Work Hour</td>
								<td><input type="number" class="form-control" ng-model="workHour" /></td>
							</tr>
							<tr>
								<td>Cycle Time</td>
								<td><input type="number" class="form-control" ng-model="cycleTime" /></td>
							</tr>
							<tr>
								<td>Target Efficiency</td>
								<td><input type="number" class="form-control" ng-model="targetEfficiency" /></td>
							</tr>
							<tr class="hide">
								<td>Target Delivery</td>
								<td><input type="number" class="form-control" ng-model="targetDelivery"/></td>
							</tr>
							<tr>
								<td>Shift No</td>
								<td><input type="number" class="form-control" ng-model="shiftNo"/></td>
							</tr>
						</tbody>
						<tfoot> 
							<tr>
								<td>
									<h4>Production Plan</h4>
								</td>
								<td class="text-right">
									<h4>{{shiftNo*cycleTime*workHour*targetEfficiency|number:PROD_PLAN_ROUND}}</h4>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 hide"> 
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label>Monthly Production Plan</label>
			</div>
			<div class="list-group-canvas"> 
				<div class="list-group-item list-group-header">
					<div class="row">
					<div class="col-md-12 amount amount-total">
						<label>August</label>
						<h3 class="amount total">{{25+(shiftNo*cycleTime*workHour*targetEfficiency)}}</h3>
					</div>
					</div>
				</div>
				<div class="list-group-item list-group-header"> 
					<h5 class="pull-left">AUG 1-15</h5>
					<b class="pull-right">25</b>
					<div class="clearfix"></div>
				</div>
				<div class="list-group-item list-group-header"> 
					<h5 class="pull-left">AUG 16-30</h5>
					<b class="pull-right">{{shiftNo*cycleTime*workHour*targetEfficiency}}</b>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>