<div class="row" ng-controller="IndividualController" ng-init="init()">
	<div class="col-md-4">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label>{{Department.name}} Daily Pareto</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item"> 
					<div class="form-group" ng-show="__USER.department_id=='all'">
						<label>Deparment</label>
						<select ng-model="Deparment" class="form-control" ng-disabled="!Departments.length">
							<option value="">Select Department</option>
							<option ng-repeat="department in Departments" ng-value="department.id">
								{{department.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Category</label>
						<select ng-model="Category" name="" id="" class="form-control" ng-disabled="!Categories.length">
							<option value="">Select Category</option>
							<option ng-repeat="category in Categories" ng-value="category.id">
								{{category.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>KPI</label>
						<select ng-model="KPI" name="" id="" class="form-control" ng-disabled="!KPIs.length">
							<option value="">Select KPI</option>
							<option ng-repeat="kpi in KPIs" ng-value="kpi.id">
								{{kpi.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Sub Category</label>
						<select ng-model="SubCategory" name="" id="" class="form-control" ng-disabled="!SubCategories.length">
							<option value="">Select Sub Category</option>
							<option ng-repeat="subcategory in SubCategories" ng-value="subcategory.id">
								{{subcategory.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Line/Machine</label>
						<select ng-model="LineMachine" ng-change="updateModel()" class="form-control" ng-disabled="!LineMachines.length">
							<option value="">Select Line</option>
							<option ng-repeat="line in LineMachines" ng-value="line.id">
								{{line.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Shift</label>
						<select class="form-control">
							<option value="DS">Day Shift</option>
							<option value="NS">Night Shift</option>
						</select>
					</div>
					<div class="form-group">
						<label>Date</label>
						<input type="date" ng-model="ParetoDate" class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8"> 
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label class="pull-left">Daily Pareto</label>
				<div class="btn-group btn-group-xs pull-right">
					<button class="btn btn-default " ng-click="cancelPareto()">CANCEL</button>
					<button class="btn btn-primary " ng-click="submitPareto()">SUBMIT</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-md-4">Model</th>
							<th class="col-md-8">Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mod in Models">
							<td>
								{{mod.name}}
								<input type="hidden" ng-model="ParetoDetail[$index].model_no_id"  />
							</td>
							<td><input type="number" ng-model="ParetoDetail[$index].quantity" class="form-control" /></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</div>