<div class="row" ng-controller="AccessController" ng-init="init()">
	<div class="col-md-10 col-md-offset-1">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label> Access Control</label>
				<div class="btn-group btn-group-xs pull-right">
					<button class="btn btn-default " ng-disabled="PreventCancel" ng-click="cancelAccess()">CANCEL</button>
					<button class="btn btn-primary " ng-disabled="PreventSubmit" ng-click="submitAccess()">SUBMIT</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center" >Module</th>
								<th class="text-center" ng-repeat="group in Groups">{{group.name}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(mod, module) in Modules">
								<td>{{module.name}}</td>
								<td class="text-center" ng-repeat="(grp, group) in Groups">
									<input type="checkbox" name="{{grp}}-{{mod}}" ng-disabled="PreventSubmit || Access[group.id] | isEmpty " ng-model="Access[group.id][module.id]">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>