<div class="row" ng-controller="AccessController" ng-init="init()">
	<div class="col-md-10 col-md-offset-1">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label> Access Control</label>
				<div class="btn-group btn-group-xs pull-right">
					<button class="btn btn-default ">CANCEL</button>
					<button class="btn btn-primary ">SUBMIT</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center" >Module</th>
								<th class="text-center" ng-repeat="group in Groups">{{group.name}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="module in Modules">
								<td>{{module.name}}</td>
								<td class="text-center" ng-repeat="group in Groups">
									<input type="checkbox" ng-model="Access[group.id][module.id]"></input>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>