<div class="row" ng-controller="RegisterController" ng-init="init()">
	<div class="col-md-4">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label>User</label>
				<div class="btn-group btn-group-xs pull-right">
					<button class="btn btn-default ">CANCEL</button>
					<button class="btn btn-primary ">SUBMIT</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item list-group-header">
					<h5>Information</h5>
				</div>
				<div class="list-group-item"> 
					<div class="form-group">
						<label>Department</label>
						<select name="" id="" class="form-control">
							<option value="">Select Department</option>
							<option ng-repeat="dept in Departments" value="{{dept.id}}">{{dept.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label>Employee Name</label>
						<input type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label>Employee No</label>
						<input type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" />
					</div>
					<div class="form-group">
						<label>Restriction</label>
						<select name="" id="" class="form-control">
							<option value="">Select Restriction</option>
							<option ng-repeat="rest in Restriction" value="{{rest.id}}">{{rest.name}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8"> 
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label class="col-md-3">Users</label>
				<div class="input-group input-group-sm col-md-9">
					<input type="text" class="form-control" placeholder="Search" />
					<div class="input-group-btn">
						<button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-md-2">Department</th>
							<th class="col-md-4">Name</th>
							<th class="col-md-3">No</th>
							<th class="col-md-2">Restriction</th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="line in ['A','B','C']">
							<td>DEP{{line}}</td>
							<td>USER {{line}}</td>
							<td>EMP1 {{line}}</td>
							<td>Pareto</td>
							<td class="text-center"><button class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</div>