<div class="row" ng-controller="PageController" ng-init="init()">
	<button class="btn btn-primary btn-fab fixed top right">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<div class="row">
		<div class="col-md-6">
			<div class="list-group-item">
				<canvas id="base" class="chart-bar"
				  chart-data="data" chart-labels="labels" chart-colors="colors"
				  chart-dataset-override="datasetOverride" >
				</canvas> 
			</div>
		</div>
		<div class="col-md-6">
			<div class="list-group-item">
				<canvas id="base2" class="chart-line"
				  chart-data="data" chart-labels="labels" chart-colors="colors"
				  chart-dataset-override="datasetOverride" >
				</canvas> 
			</div>
		</div>
	</div>
	
</div>