<div class="form-group" ng-repeat="ui in UI_RENDER">
	<label>{{ui.label}}</label>
	<select  class="form-control"
			ng-if="ui.type=='dropdown'"
			ng-model="MNT_FIELDS[ui.field+'_id']"
			ng-disabled="RecordMode=='DELETE' || (ui.field=='department' && __USER.department_id!='all')"
			ng-change="updateList(ui,MNT_FIELDS[ui.field+'_id'],$index)"
			ng-options="obj.id as obj.name for obj in UI_DRPDWN[ui.endpoint]"
			>
		<option value="">Select {{ui.label}}</option>
	</select>
	<input type="text" class="form-control" 
			ng-model="MNT_FIELDS[ui.field]"
			ng-if="ui.type=='text'" 
			ng-disabled="RecordMode=='DELETE'"/>
</div>