<div class="row" ng-controller="MaintenanceController" ng-init="init(MNT_STRUCT.CAVITY)">
	<div class="col-md-4">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label>Cavity</label>
				<div class="btn-group btn-group-xs pull-right">
					<button class="btn btn-default ">CANCEL</button>
					<button class="btn btn-primary ">SUBMIT</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item list-group-header">
					<h5>Information</h5>
				</div>
				<div class="list-group-item"> 
					<div class="form-group" ng-repeat="ui in UI_RENDER">
						<label>{{ui.label}}</label>
						<select ng-show="ui.type=='dropdown'" class="form-control">
							<option value="">Select {{ui.label}}</option>
							<option ng-repeat="value in UI_DRPDWN[ui.endpoint]" value="value.id">{{value.name}}</option>
						</select>
						<input ng-show="ui.type=='text'" type="text" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8"> 
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label>Cavities</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-md-8">Cavity</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="line in ['1','3','4']">
							
							<td>Cavity {{line}}</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</div>