<div class="row" ng-controller="MaintenanceController" ng-init="init(MNT_STRUCT.DEPARTMENT)">
	<div class="col-md-4">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label>Deparment</label>
				<div class="btn-group btn-group-xs pull-right">
					<button class="btn btn-default ">CANCEL</button>
					<button class="btn btn-primary ">SUBMIT</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item list-group-header">
					<h5>Information</h5>
				</div>
				<div class="list-group-item"> 
					<div ng-include="'views/maintenance/__form_template.html'"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8"> 
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label>Deparments</label>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-md-4">Code</th>
							<th class="col-md-8">Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="line in ['A','B','C']">
							<td>DEP{{line}}</td>
							<td>Department {{line}}</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</div>